<div class="messages-container">
  <h2>Messages List</h2>
  <!-- Loading spinner -->
  <mat-progress-spinner *ngIf="!load" mode="indeterminate"></mat-progress-spinner>

  <!-- Material Table -->
  <table mat-table *ngIf="load" [dataSource]="messageData" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let message"> {{ message.id }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let message"> {{ message.email }} </td>
    </ng-container>

    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef> Message </th>
      <td mat-cell *matCellDef="let message"> {{ message.message | slice:0:100 }}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let message"> {{ message.date | date:'short' }} </td>
    </ng-container>

    <!-- Header & Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="['id', 'email', 'message', 'date']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id', 'email', 'message', 'date'];"></tr>

  </table>
</div>
